footer {
    position: fixed;
    bottom: 10px;
    background-color: #EFEFEF;
    border-top: 1px solid #ccc;
    border-radius: 15px;
    width: 333px;
    height: 40px;
    margin-left: 21px;
    margin-right: 21px;
    box-shadow: -3px 13px 23px -5px rgba(212,212,212,1);
}

.footer__listelements {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    align-items: center;
    margin: 0px;
}

.svgs {
    display: flex;
    justify-content: center;
    align-items: center;
    left: calc(50% - 8px);
    width: 16px;
    margin-bottom: 0px;
}