header h1 {
    margin: 0 auto;
    padding: 0.5em 1em;
    border-bottom: 1px solid black;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
}

header {
    margin-bottom: 20px;
}