.ratingcard {
    border: solid;
    margin-left: 43px;
    margin-right: 43px;
}

.ratingcard__list {
    padding: 20px;
    list-style: none;
    margin-bottom: 0px;
}

img {
    height: 50px;
}

.icon {
    width: 30px;
}

.icon-fill {
    fill: transparent;
}

input:checked + svg {
    fill: #172e4d;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

.rectangle {
    width: 30px;
}

.icon-fill {
    fill: transparent;
}

input:checked + svg {
    fill: #172e4d;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

.miniheader {
    font-family: 'Roboto', semibold;
    font-size: 16px;
    color: #798aa1;
}

.motto {
    font-family: 'Roboto', bold;
    font-size: 16px;
    color: #172e4d;
}

.paragraph {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #172e4d;
}
/*
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label {
    margin-left: 1.4em;
    position: relative;
    cursor: pointer;
}
input[type="checkbox"] + label:after {
    left: -1.2em;
    color: #000;
    display: inline-block;
    position: absolute;
    right: -1.2em;
    top: -.1em;
    width: .8em;
    text-align: left;
    font-size: 1.2em;
    line-height: 1.6em;
    content: '\f096';
    font-family: 'FontAwesome';
}
input[type="checkbox"]:checked + label:after {
    content: '\f046';
}
*/